<div class="blog" id="blog">
	<div class="container">
		<h3 class="tittle">Son Duyurular</h3>
		<p class="heading-btm-w3ls">Çiftliklerimiz ve tarlalarımızdan son haberler aşağıdadır.</p>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img1-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal2"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMDA BÜYÜMEDE DAHA FAZLA GELİŞME</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>16/11/2016</span>
					<p class="para-w3-agileits">
						Tarım sektörü; artan nüfusun besin ihtiyaçlarının
						karşılanması, tarım dışı kesimlere hammadde sağlanması ve ekonomik kalkınmanın finansmanına...
					</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Devamını Oku</a>

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-5 blog-info-w3layouts blog-mid">
				<h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIM SEKTÖRÜNÜ GELİŞTİRMEYE DEVAM EDİYORUZ</a></h6>
				<div class="inner-info-mid">
					<a href="#" class="blog-text-w3ls mid-bar">Lorem ipsum.</a><span>12/10/2016</span>
					<p class="para-w3-agileits">
						Tarımın bütün toplumlar için en hayati ekonomik faaliyet alanı
						olmasının iki temel nedeni bulunmaktadır. Birincisi, insanların en temel
						sorunu olan beslenme ihtiyacını doğrudan...
					</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Devamını Oku</a>

			</div>
			<div class=" col-md-7 blog-img2-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal3"></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="blog-grid-w3-agileits">
			<div class=" col-md-7 blog-img3-agileits-w3layouts">
				<a href="#" data-toggle="modal" data-target="#myModal4"></a>
			</div>
			<div class=" col-md-5 blog-info-w3layouts">
				<h6><a href="#" data-toggle="modal" data-target="#myModal4"> TARIM FİRMALARI ARASINDA PAZARA AÇILAN İLK ADIMLARIMIZ</a></h6>
				<div class="inner-info">
					<a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>06/8/2016</span>
					<p class="para-w3-agileits">
						Ülkemizde AB ülkelerinden gelen taleplerin yönlendirmesi doğrultusunda 1985’li yıllarda
						başlayan organik tarım faaliyetleri yıllar içinde...
					</p>
				</div>
				<a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Devamını Oku</a>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
				<h5>TARIMDA BÜYÜMEDE DAHA FAZLA GELİŞME</h5>
				<p>
					Tarım sektörü; artan nüfusun besin ihtiyaçlarının
					karşılanması, tarım dışı kesimlere hammadde sağlanması ve ekonomik kalkınmanın finansmanına yardımda bulunmak gibi ciddi görevler üstlenmektedir.
					Ayrıca bir ülkenin gelişmesinde tarımda büyümenin;
					yani iktisâdi anlamıyla zenginleşmenin sağlanması
					önemlidir.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
				<h5>TARIM SEKTÖRÜNÜ GELİŞTİRMEYE DEVAM EDİYORUZ</h5>
				<p>
					Tarımın bütün toplumlar için en hayati ekonomik faaliyet alanı
					olmasının iki temel nedeni bulunmaktadır. Birincisi, insanların en temel
					sorunu olan beslenme ihtiyacını doğrudan karşılayan sektör olması; ikincisi
					ise, çağımızda her toplum için zorunlu bir amaç haline gelen ekonomik
					kalkınmayı sürükleyici kaynakları sağlamasıdır.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>In Harvest</h4>
				<img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
				<h5>TARIM FİRMALARI ARASINDA PAZARA AÇILAN İLK ADIMLARIMIZ</h5>
				<p>
					Ülkemizde AB ülkelerinden gelen taleplerin yönlendirmesi doğrultusunda 1985’li yıllarda
					başlayan organik tarım faaliyetleri yıllar içinde ilerleme kaydederek ticari öneme sahip bir konuma
					gelmiştir. Dünya’da yaklaşık 160 ülkede organik tarım yapılmakta ve üretim alanları her geçen gün
					giderek artmaktadır. İlk yıllarda sadece kuru üzüm ve kuru incir gibi birkaç geleneksel ürünle
					başlayan organik tarım faaliyeti, günümüzde ise bitkisel ürünler, işlenmiş gıda ürünleri ve diğer
					organik ürünler olarak sınıflandırabileceğimiz 200’den fazla ürüne sahip sektörel bir yapıya ulaşmıştır.
				</p>
			</div>
		</div>
	</div>
</div>